.app-container
{

    width: 400px;
    height: 600px;
}

.Calculator
{
    display:grid;
    grid-template-columns: repeat(4,50px);
}

button
{
    height: 50px;
    background-color: rgb(173, 171, 171);
    border: 1px solid rgb(94, 94, 151);
    margin: 1px;
}

button.operator
{
    background-color: white;
    color: rgb(7, 0, 37);
}

button.powerButton
{
    background-color: rgb(0, 0, 22);
    color: rgb(166, 166, 235);
}

.display
{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 30px;
    height: 40px;
    text-align: right;
    border: 1px solid black;
    padding-right: 10px;
    padding-top: 5px;

}